header {
    background-color: white;
    margin-bottom: 1.45rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
}

.navbar {
    display: flex;
}

.navbar-logo {
    flex-basis: 25%;
    margin: auto;
    text-align: center;
}

.navbar-menu {
    flex-basis: 75%;
    display: flex;
    align-items: center;
}

.navbar-logo > a > img {
    width: 40%;
    height: 20%;
    margin: 0;
}


@import "navbar.css";