header {
    background-color: white;
    margin-bottom: 1.45rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    padding-top: 15px;
    margin-bottom: 0px;
}

.logo {
    margin: auto;
}

.slogan {
    margin: auto;
}

.header-logo {
    max-height: 200px;
    max-width: 200px;
}

.header-container {
    display: flex; 
    padding-left: 10%;
    padding-right:10%;

}

.logo-container, .contact-container, .slogan-container {
    flex-basis: 33%;
}

.contact-container, .slogan-container {
    padding-top: 25px;
}


@import "navbar.css";