#payment-mobile-view {
    display: none;
}

#payment-wide-view {
    width: 100%;
    position: relative;
}

#payment-header {
    height: 35vh;
    width: 100%;
    position: relative;
}

#payment-header > img {
	height: 35vh;
 	width: 100%; 
	object-fit: cover;
	object-position: 0% 45%;
	position:relative;
    margin: 0;
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#payment-header::after {
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #054F67;
    opacity: 0.5;

}

#payment-header > div {
	position: absolute;
	font-family: 'Raleway';
	left: 40%;
	top: 11vh;
	color: white;
	z-index: 2;
    text-align: center;
    text-shadow: 1px 1px #000000;
}

#payment-header > div > h1 {
	font-family: 'Raleway';
    font-size: 2em;
    font-weight: 100;
    margin: 0;
}

#payment-body {
    display:flex;
    flex-direction: column;
    position:relative;
}

#payment-body > * {
    margin: 2% 0 0 2%;
    width: 96%;
    position: relative;
    min-height: 225px;
}


#payment-body > * > * {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4% 3% 4% 1%;

}

#payment-body > * > * > * {
    flex-basis: 33%;
    z-index: 2;
    font-family: 'Raleway';
    margin: 0;
}

#payment-body > * > * > h1 {
    color: white;
    font-family: metrophobic;
}

#payment-body > * > * > h2 {
     color: white;
     font-weight: bolder;
    text-shadow: 1px 1px #000000;
 }
#payment-body > * > * > p {
    /*color: #1c3a6b;*/
    padding-left: 5%;
}

#paypal-container {
    border: 1px solid #1c3a6b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("https://images.unsplash.com/photo-1521791055366-0d553872125f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: 100vh;
    background-position: -10% 0%;


}

#paypal-container::after {
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0.3) 5%);
    background-color: rgba(56, 117, 214, 0.5);
}


#donate-container {
    border: 1px solid #1c3a6b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("https://images.pexels.com/photos/339620/pexels-photo-339620.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 100vh;
    background-position: -20% 50%;
}

#donate-container::after {
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0.3) 50%);
    background-color: rgba(39, 163, 76, 0.2);
}

#check-container {
    border: 1px solid #1c3a6b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("https://www.publicdomainpictures.net/pictures/220000/velka/open-notebook-with-red-pen.jpg");
    margin-bottom: 2%;
    background-size: 40%;
}

#check-container::after {
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0.3) 50%);
    background-color: rgba(116, 43, 189, 0.2);
}


@media only screen and (max-width: 579px) {
        #payment-wide-view {
            display: none;
        }

        #payment-mobile-view {
            display: inline-block;
        }


    #donate-container, #check-container, #paypal-container {
            background-image: none;
            background-color: #c5ccd1;
        }


        #donate-container::after , #check-container::after , #paypal-container::after {
            display: none;
        }

        #payment-body > * > * {
            display: inline-block;
        }

     #payment-header > div > h1 {
            /*text-align: center;*/
            margin-left: -55px;
            /*margin-right: 20px;*/
            font-weight: 400;
        }

        
}



