#services-body {
    width: 100%;
    position: relative;
    background-color: white;
}

#services-header {
    height: 30vh;
    width: 100%;
    position: relative;
}


#services-header div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#services-header div > h1 {
    margin: 0;
}


#services-header img {
	height: 30vh; 
 	width: 100%; 
	object-fit: cover;
	object-position: 0% 45%;
	position:relative;
    margin: 0;
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#services-header::after {
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #143A9B;
    opacity: 0.5;
}

#services-header > div {
	position: absolute;
	font-family: 'Raleway';
	left: 37%;
	top: 9vh;
	color: white;
	z-index: 2;
    text-align: center;
}

#services-header > div > h1 {
    font-size: 2.5em;
    font-weight: 900;
    margin: 0;
}

#services-header > div > p {
    font-size: 1em;
    font-weight: 1;
}


#services-header div > * {
    font-family: 'Raleway', sans-serif;
    color: white;
}

#services-blocks > h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin: 0;
    margin-top: 3%;
}

#section1 {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3%;
}


.big-service-block {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 2% 0;
    flex-basis: 45%;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.15)
}

.big-service-block > img {
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50px;
    border: 2px solid #4287f5;
    box-shadow: 0 0 1px 3px #4287f5;
    padding: 5%;
}

.big-service-block > div {
    flex-basis: 60%
}


.big-service-block > div > ul {
    list-style-type: none;
    margin: 0;
}

.big-service-block > div > h1 {
    font-family: 'Raleway', sans-serif;
    color: #1032DE;
    font-size: 1.7em;
    font-weight: 500;
    margin-bottom: 5%;
}

.big-service-block li {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 0.7em;
    margin: 0;
    margin-top: -10px;
}


#section2 {
    margin: 4% 0;
    padding: 1% 0 6% 0;
    background-color: #F7F7F7;
}

#section2 > h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin: 3% 0;
}

#section2 > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#section2 > div > div {
    flex-basis: 30%;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.15);
    height: 220px; /* questionable */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-top: 1%;
}

#section2 > div > div > h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 10px;
    color: #1032DE;
}

#section2 > div > div > p {
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-size: 0.7em;
}




#section3 {
    display: flex;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

#section3 > h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

#pricing-panel > p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    font-weight: 200;
    text-align: center;
}

#pricing-panel > table {
    border-collapse: separate;
}

#pricing-panel > table > * {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 1em;
}

#pricing-panel .table-inner {
    text-align: center;
}

#pricing-panel .table-hours {
    width: 30%;
    padding-left: 2%;
}

#pricing-panel .table-category {
    color: white;
    padding-left: 2%;
    font-weight: 200;
}

#pricing-panel li {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    margin: 0px;
}

#cancellation-panel {
    margin: 4% 0;
}

#cancellation-panel > h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

#cancellation-panel > p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
}

