h1, h2 , h3 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}


h4 {
    text-align: center;
    margin-bottom: 5px;
}

#services-body {
    min-width: 100%;
    background-color: white;
}

#services-header {
    height: 35vh;
    width: 100%;
    position: relative;
}


#services-header div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#services-header div > h1 {
    color: white;
   /*margin-top: 28%;*/
    font-family:  Lato, sans-serif;
    margin-left: -27%;
    text-shadow: 1px 1px #000000;
    font-weight: 100;

}

#services-header div > h2 {
    color: white;
    font-family:  Lato, sans-serif;
    text-shadow: 1px 1px #000000;
    /*font-size: 2em;*/
    text-align: center;
    margin-left: -14%;
    font-weight: 100;

}

#services-header img {
	height: 35vh;
 	width: 100%; 
	object-fit: cover;
	object-position: 0% 45%;
	position:relative;
    margin: 0;
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

    /*opacity: 70%;*/
}

#services-header::after {
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #054F67;
    opacity: 0.5;
}

#services-header > div {
	position: absolute;
	font-family:  Lato, sans-serif;
	left: 37%;
	top: 9vh;
	color: white;
	z-index: 2;
    text-align: center;
}


#services-header > div > p {
    font-size: 1em;
    font-weight: 1;
}


#services-header div > * {
    font-family:  Lato, sans-serif;
    color: white;
}

/* h3 {*/
/*margin-top: 1%;*/
/*}*/

#section1 {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    padding-top: 20px;
}


.big-service-block {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 2% 0;
    flex-basis: 45%;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.15)
}

.big-service-block > img {
    max-height: 150px;
    max-width: 150px;
    margin: auto;
    border-radius: 50px;
    border: 2px solid #0682c4;
    box-shadow: 0 0 1px 3px #0682c4;
    padding: 5%;
}

.big-service-block > div {
    flex-basis: 60%;
}

.big-service-block > div > h4 {
    flex-basis: 60%;
    font-size: 1.4em;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5%;
}

.big-service-block > div > ul {
    list-style-type: none;
    margin: 0;
}

.big-service-block li {
    font-family:  Lato, sans-serif;
    font-weight: 100;
    font-size: 1em;
    margin: 0;
    margin-top: -10px;
    margin-left: 5%;
    line-height: 2;
    text-align: left;
}


#section2 {
    margin-top: 16px;
    padding: 10px 0 10px 0;
    background-color: #F7F7F7;
    display: flex;
}



#section2 > div {
    display: flex;
    justify-content: space-evenly;
}

#section2 > div > div {
    flex-basis: 30%;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    background-color: white;
    padding-top: 20px;
}

#section2 > div > div > h4 {
    font-size: 1.2em;
}

#section2 > div > div > p {
    margin-left: 20px;
    margin-right: 20px;
    font-family:  Lato, sans-serif;
    font-size: 1em;
    line-height: 2;

}

#section3 {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

#section4 {
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
}

#section4 > p {
    margin-left: 20px;
    margin-right: 20px;
    font-family:  Lato, sans-serif;
    font-size: 1.1em;
    line-height: .5;
}

#pricing-panel > h4 {
    font-size: 1.2em;
}

#pricing-panel > p {
    font-family:  Lato, sans-serif;
    font-size: 1.1em;
    font-weight: 200;
    text-align: center;
}

#pricing-panel > table {
    border-collapse: separate;
}

#pricing-panel > table > * {
    font-family:  Lato, sans-serif;
    font-weight: 200;
    font-size: 1em;
}

#pricing-panel .table-inner {
    text-align: center;
}

#pricing-panel .table-hours {
    width: 30%;
    padding-left: 2%;
}

#pricing-panel .table-category {
    color: white;
    padding-left: 2%;
    font-weight: 200;
}

#pricing-panel li {
    font-family:  Lato, sans-serif;
    font-size: 0.9em;
    margin: 0px;
    text-align: left;
}

#cancellation-panel {
    margin-top: 8px;
}

#cancellation-panel > h4 {
    font-size: 1.2em;
}

#cancellation-panel > p {
    font-family:  Lato, sans-serif;
    font-size: 0.9em;
}

@media only screen and (max-width: 800px)  {

    .big-service-block > img {
       display: none;
    }

    .big-service-block {
      
        flex-basis: 50%;
    }

    .big-service-block > div {
        flex-basis: 100%
    }

    .big-service-block > div > h1 {
        text-align: center;
    }
    
}

@media only screen and (max-width: 695px) {
    #services-header div > h1 {
        margin-left: -170px;
    }

    #services-header div > h2 {
        margin-left: -170px;
    }
    #section1 {
        flex-direction: column;
        padding-top: 0;
    }
    #section2 > div {
        flex-direction: column;
    }

    #section2 > div > div {
        box-shadow: none;
    }
}

