
.sidebar {
    flex: 0 30%;
    order: 0;
    display: flex;
    flex-direction: column;
}

.info-panel {
    margin: 0 4% 2% 4%;
    background-color: white;
}

.info-panel > h1, h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.info-panel > h1 {
    margin-top: 5%;
    margin-bottom: 0;
    color: black;
    font-size: 1.3em;
    text-decoration: underline #006bd6;
}

.info-panel > h2 {
    margin-top: 4%;
    font-size: 0.7em;
    color: black;
    font-weight: 300;
    padding: 0;
}

.info-panel > h2 > ul {
    margin: 0;
}

.info-panel > h2 > ul > ol {
    margin-left: 0;
}

.info-panel > button {
    margin: 1% 0;
    color: white;
    background-color: #1b60a3;
    font-family: Raleway;
    font-size: 0.7em;
    width: 100%;
    text-align: left;
    padding: 1% 5%;
}

.info-panel > input {
    margin: 1% 0;
    color: black;
    background-color: white;
    border: #1b60a3;
    border-style: solid;
    border-width: 2px;
    font-family: Raleway;
    font-size: 0.7em;
    width: 100%;
    text-align: left;
    padding: 0 0 0 5%;
}



.segues {
    display: flex;
    flex-direction: column;
    position: relative;
}

.segues > div {
    margin: 1% 5% 3% 5%;
    max-width: 100%;
    height: 15vh;
    position: relative;
}

.segues > div::after {
    background-image: linear-gradient(to right, rgba(8, 65, 168,1) 20%, rgba(255,0,0,0) 100%);
    content:'';
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: 0.7;
}


.segues > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.segues > div > a {
    font-family: Tajawal, sans-serif;
    font-weight: 900;
    position: absolute;
    z-index: 9;
    bottom: 5%;
    left: 5%;
    margin: 0;
    font-weight: 300;
    color: white;
}


.segue2 > img {
    object-position: 0% 20%;
}
